.accueil{
    width:40%;
    height:300px;
    background: #66617910;
  }
  .accueil{
    display: block;
    margin: 70px;
    border: 0px solid red;
    padding: 50px;
    box-sizing: border-box;
    color: rgb(252, 252, 252); /* Couleur du texte */
    margin: 0 auto;
}
.acc{
  text-decoration: none;
  color:rgb(252, 251, 251);
  list-style: none;
  align-items:  center;
  margin: 0 auto;
  display: flex; /* Pour permettre le centrage vertical */
  justify-content: center; /* Pour centrer horizontalement */
  align-items: center; /* Pour centrer verticalement */
}

.back{
  background-color: rgb(220, 209, 209);
}
.accueil{
    
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
}
.button3{
  background-color: #ec1414; /* Couleur de fond */
    border: none; /* Supprime la bordure */
    color: rgb(252, 252, 252); /* Couleur du texte */
    padding: 1px 32px; /* Rembourrage */
    text-align: center; /* Alignement du texte */
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Taille de police */
    margin: 4px 2px; /* Marge */
    cursor: pointer; /* Curseur au survol */
    border-radius: 20px;
}
.centerText{
align-items: center; 
}
.plan{
  background-image: url("/images/app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Pour s'assurer que la section couvre toute la hauteur de la vue */
  justify-content: center; /* Pour centrer horizontalement */
  align-items: center; /* Pour centrer verticalement */
}
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/images/logo.jpeg");
  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.bloc {
  background-image: url("/images/app.jpg");
  background-size: cover; /* Pour couvrir toute la zone */
  background-position: center; /* Pour centrer l'image */
}

.accueil{
  font-size: 1.3em;
}
/* Styles pour les écrans de petite taille (max-width: 600px) */
@media screen and (max-width: 1499px) {
  .bloc{
    width: 98%;
  }
  .bloc{
    font-size: 1.3em;
  }
  .bloc{
    margin: 20px;
  }
}
